<tui-root>
<div class="wrapper">
  <div class="header">
    <a routerLink="/ng-content" routerLinkActive="active"> ng-content </a>
    <a routerLink="/ng-container" routerLinkActive="active"> ng-container </a>
    <a routerLink="/ng-template" routerLinkActive="active"> ng-template</a>
    <a routerLink="/hostBinding" routerLinkActive="active"> hostBinding</a>
    <a routerLink="/hostListener" routerLinkActive="active"> hostListener</a>
    <a routerLink="/hostListener" routerLinkActive="active"> test</a>
  </div>
  <div class="layout">
    <router-outlet></router-outlet>
  </div>
</div>
</tui-root>