<div class="wrapper">
    <div class="block">
        <ul>
            <li *ngFor="let framework of frameworks; let i = index, let even = even, let odd = odd; trackBy:trackByFn" [@fadeInOut]>
                {{framework}} {{i}} {{even}} {{odd}}
            </li>
        </ul>
        <button (click)="pushItem()">Добавить item</button>
        <button (click)="removeItem()">удалить item</button>
    </div>
    <div class="block">
        <ul>
            <ng-template ngFor let-item [ngForOf]="frameworks" let-i="index" let-odd="odd" [ngForTrackBy]="trackByFn" let-even="even"
                let-last="last">
                <li [ngStyle]="{
                'color': even ? 'red' : 'blue',
                'font-size': last ? '35px' : '20px'
                }"> {{i}} {{item}}</li>
            </ng-template>

        </ul>
    </div>
    <div class="block">
        @if (frameworksDataSource$ | async) {
        <ul>

            @for (framework of frameworks; track trackByFn; let i = $index, count = $count, first = $first, lasItemt=$last,
            even = $even,odd=$odd) {
            <li>
                @if (first) {
                {{framework}} я первый
                } @else if (lasItemt){
                    {{framework}} я последний
                    Всего: {{count}}
                } @else {
                    {{framework}}
                }
                @if (even) {
                    я четный
                } @else {
                     я нечетный
                }

            </li>
            } @empty {
            <p>пусто</p>
            }
        </ul>
        } @else {
        <p>loading...</p>
        }

    </div>
</div>
<!-- <ng-template ngFor
[ngForOf]="frameworks"
[ngForTemplate]="ref"
></ng-template>

<ng-template let-item #ref>
    <P>{{item}}</P>
</ng-template> -->