<div class="wrapper">
    <div class="block">
        <div class="example" *ngIf="condition;else otherCondition">Этот текст отобразится при condition true</div>
        <ng-template #otherCondition>
            <div>Этот текст отобразится при condition false</div>
        </ng-template>

        <input type="checkbox" [(ngModel)]="condition">

    </div>
    <div class="block">
        <ng-template [ngIf]="longCondition" [ngIfElse]="elseBlock">
            <div>
                Длинная запись
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div>Условие по длинной записи</div>
        </ng-template>
        <input type="checkbox" [(ngModel)]="longCondition">
    </div>
    <div class="block">
        <ng-template [ngIf]="otherLongCondition" [ngIfThen]="success" [ngIfElse]="fail"></ng-template>
        <ng-template #success>текст блока success</ng-template>
        <ng-template #fail>текст блока fail</ng-template>
        <input type="checkbox" [(ngModel)]="otherLongCondition">
    </div>
    <div class="block">
        <div class="div" *ngIf="(dataSource$ | async ) as ds; else loading">
            {{ds}}
        </div>
        <ng-template class="loading" #loading>Загрузка</ng-template>
        <input type="checkbox" [(ngModel)]="longCondition">
    </div>
    <div class="block">
        @if (permission === 'admin') {
            <p>Это страница админа</p>
        } @else if (permission === 'user') {
            <p>Это страница юзера</p>
        } @else if (permission === 'guest') {
            <p>Это страница гостя</p>
        } @else {
            <p>Вы кто? </p>
        }
    </div>
</div>