<div class="wrapper">
    <div class="block"> <input type="text" [ngModel]="oneWay"> {{oneWay}}</div>
    <div class="block"> <input type="text" [ngModel]="twoWay" (ngModelChange)="twoWay = $event"> {{twoWay}}</div>
    <div class="block"> <input type="text" [(ngModel)]="twoWay"> {{twoWay}}</div>
    <input type="text" placeholder="no changeDetection">
    <select [(ngModel)]="selectedValue">
        <option *ngFor="let framework of frameworks" [value]="framework">
             {{framework}}
        </option>
    </select>
    <!-- <form>
        <input>, <select>, <textarea> 
    </form> -->
</div>