

.modified {
    color: red;
    font-size: 30px;
}
.string {
    font-style: italic;
}
.array {
    font-weight: bold;
}
.arrayToo {
    font-size: 35px;
}
.active {
    color: red;
}
.notActive {
    color: blue;
}
.other-key {
    font-size: 20px;
}
.key {
    color: aqua;
}
