<div class="block">
    <app-card [template]="h1">
    </app-card>
</div>
<div class="block">
    <app-card [template]="h2"></app-card>
</div>

<ng-template #h1>
    <h1>Первый темплейт</h1>
</ng-template>
<ng-template #h2>
    <h1>Второй темплейт</h1>
</ng-template>


<ng-template #third let-name let-lastName="lastName">
    <p>Привет {{name }} {{lastName}}</p>
</ng-template>

<div class="teamplte" [ngTemplateOutlet]="third" [ngTemplateOutletContext]="{
 $implicit:'Viktor',
 lastName:'Skomorokhov'

}"></div>
<!-- <div class="block">
    <app-card [templateWithCOntext]="third" [context]="{
 $implicit:'Viktor',
 lastName:'Skomorokhov'

}"></app-card>
</div> -->
